In [1]:
import pandas as pd
from sqlalchemy import create_engine
from math import sin, cos, sqrt, atan2, radians,acos
import geopy.distance

In [2]:
def redshift():
    global eng
    with open('/home/mnamoff/Credentials/MXRedshift_user') as user_file:
        username = user_file.read()
    with open('/home/mnamoff/Credentials/MXRedshift_pw') as user_pass:
        password = user_pass.read()
    eng = create_engine("postgres://" + username + ":" + password + "@prd-jj-redshift-rds.c1iaphtcvqvg.us-east-1.redshift.amazonaws.com:5439/rds")
    return(eng)
redshift()

Engine(postgres://rds_read:***@prd-jj-redshift-rds.c1iaphtcvqvg.us-east-1.redshift.amazonaws.com:5439/rds)

In [4]:
q = """

select a.storenumber, a.jjdma_name, a.state, a.latitude,a.longitude, b.storenumber as storenumber2, b.jjdma_name as jjdma_name2, b.latitude AS lat, b.longitude AS long
from __storesupporttable as a
CROSS JOIN __storesupporttable as b 
WHERE a.latitude is not null 
AND b.latitude is not null



"""

In [5]:
r = pd.read_sql_query(q, eng)

In [6]:
r.head()

,storenumber,jjdma_name,state,latitude,longitude,storenumber2,jjdma_name2,lat,long
0,85,Chicago,IL,41.363929,-89.010147,85,Chicago,41.363929,-89.010147
1,85,Chicago,IL,41.363929,-89.010147,205,St. Louis,38.626942,-90.189744
2,85,Chicago,IL,41.363929,-89.010147,250,Flint-Saginaw-Bay City,43.414253,-84.231770
3,85,Chicago,IL,41.363929,-89.010147,266,Chicago,41.600352,-87.792825
4,85,Chicago,IL,41.363929,-89.010147,426,Philadelphia,40.675114,-75.262663

In [7]:
r['coords_1'] = r['latitude'].astype(str) + ',' + r['longitude'].astype(str) 
r['coords_2'] = r['lat'].astype(str) + ',' + r['long'].astype(str)

In [8]:
r.head()

,storenumber,jjdma_name,state,latitude,longitude,storenumber2,jjdma_name2,lat,long,coords_1,coords_2
0,85,Chicago,IL,41.363929,-89.010147,85,Chicago,41.363929,-89.010147,"41.363929,-89.010147","41.363929,-89.010147"
1,85,Chicago,IL,41.363929,-89.010147,205,St. Louis,38.626942,-90.189744,"41.363929,-89.010147","38.626942,-90.1897435"
2,85,Chicago,IL,41.363929,-89.010147,250,Flint-Saginaw-Bay City,43.414253,-84.231770,"41.363929,-89.010147","43.4142528,-84.2317696"
3,85,Chicago,IL,41.363929,-89.010147,266,Chicago,41.600352,-87.792825,"41.363929,-89.010147","41.6003517,-87.7928251"
4,85,Chicago,IL,41.363929,-89.010147,426,Philadelphia,40.675114,-75.262663,"41.363929,-89.010147","40.675114,-75.2626625"

In [10]:
b = []
for i in range(len(r['coords_1'])):
    x = geopy.distance.geodesic(r['coords_1'][i], r['coords_2'][i]).miles
    b.append(x)

In [11]:
r['distance'] = b

In [12]:
r = r.loc[r['distance'] < 3]

In [13]:
r

,storenumber,jjdma_name,state,latitude,longitude,storenumber2,jjdma_name2,lat,long,coords_1,coords_2,distance
0,85,Chicago,IL,41.363929,-89.010147,85,Chicago,41.363929,-89.010147,"41.363929,-89.010147","41.363929,-89.010147",0.000000
2972,205,St. Louis,MO,38.626942,-90.189744,205,St. Louis,38.626942,-90.189744,"38.626942,-90.1897435","38.626942,-90.1897435",0.000000
3063,205,St. Louis,MO,38.626942,-90.189744,203,St. Louis,38.635655,-90.240701,"38.626942,-90.1897435","38.6356545,-90.2407013",2.821828
3938,205,St. Louis,MO,38.626942,-90.189744,1270,St. Louis,38.609443,-90.199629,"38.626942,-90.1897435","38.6094429,-90.199629",1.320275
5944,250,Flint-Saginaw-Bay City,MI,43.414253,-84.231770,250,Flint-Saginaw-Bay City,43.414253,-84.231770,"43.4142528,-84.2317696","43.4142528,-84.2317696",0.000000
8916,266,Chicago,IL,41.600352,-87.792825,266,Chicago,41.600352,-87.792825,"41.6003517,-87.7928251","41.6003517,-87.7928251",0.000000
9093,266,Chicago,IL,41.600352,-87.792825,378,Chicago,41.579507,-87.811293,"41.6003517,-87.7928251","41.5795069,-87.8112929",1.727703
11888,426,Philadelphia,PA,40.675114,-75.262663,426,Philadelphia,40.675114,-75.262663,"40.675114,-75.2626625","40.675114,-75.2626625",0.000000
14860,527,La Crosse-Eau Claire,WI,44.800090,-91.471250,527,La Crosse-Eau Claire,44.800090,-91.471250,"44.80009,-91.47125","44.80009,-91.47125",0.000000
15751,527,La Crosse-Eau Claire,WI,44.800090,-91.471250,1189,La Crosse-Eau Claire,44.792170,-91.511842,"44.80009,-91.47125","44.79217,-91.511842",2.069344
15923,527,La Crosse-Eau Claire,WI,44.800090,-91.471250,1385,La Crosse-Eau Claire,44.777657,-91.438196,"44.80009,-91.47125","44.7776575,-91.4381959",2.245260
17672,527,La Crosse-Eau Claire,WI,44.800090,-91.471250,3874,La Crosse-Eau Claire,44.815106,-91.501331,"44.80009,-91.47125","44.8151059,-91.5013308",1.805988
17832,541,Syracuse,NY,42.440305,-76.495886,541,Syracuse,42.440305,-76.495886,"42.4403053,-76.4958858","42.4403053,-76.4958858",0.000000
20804,639,Chicago,IN,41.561656,-87.514351,639,Chicago,41.561656,-87.514351,"41.561656,-87.5143511","41.561656,-87.5143511",0.000000
21432,639,Chicago,IN,41.561656,-87.514351,903,Chicago,41.556240,-87.469723,"41.561656,-87.5143511","41.5562402,-87.4697226",2.343319
23776,763,Grand Rapids-Kalamazoo-Battle Creek,MI,42.940948,-85.076672,763,Grand Rapids-Kalamazoo-Battle Creek,42.940948,-85.076672,"42.9409484,-85.0766717","42.9409484,-85.0766717",0.000000
26748,867,Houston,TX,30.020376,-95.527023,867,Houston,30.020376,-95.527023,"30.0203762054443,-95.5270233154297","30.0203762054443,-95.5270233154297",0.000000
28335,867,Houston,TX,30.020376,-95.527023,1988,Houston,29.988821,-95.496510,"30.0203762054443,-95.5270233154297","29.9888213,-95.4965095",2.840889
29720,913,Chicago,IL,41.561015,-87.636934,913,Chicago,41.561015,-87.636934,"41.5610152,-87.6369341","41.5610152,-87.6369341",0.000000
30672,913,Chicago,IL,41.561015,-87.636934,1264,Chicago,41.601436,-87.623516,"41.5610152,-87.6369341","41.6014365,-87.6235163",2.874922
32692,1116,Grand Rapids-Kalamazoo-Battle Creek,MI,42.886609,-85.850320,1116,Grand Rapids-Kalamazoo-Battle Creek,42.886609,-85.850320,"42.8866088,-85.8503201","42.8866088,-85.8503201",0.000000
35664,1629,Chicago,IL,42.140164,-87.910399,1629,Chicago,42.140164,-87.910399,"42.1401636,-87.9103987","42.1401636,-87.9103987",0.000000
35875,1629,Chicago,IL,42.140164,-87.910399,430,Chicago,42.156777,-87.961391,"42.1401636,-87.9103987","42.1567769,-87.9613914",2.859056
35921,1629,Chicago,IL,42.140164,-87.910399,483,Chicago,42.108730,-87.890680,"42.1401636,-87.9103987","42.10873,-87.89068",2.394436
36565,1629,Chicago,IL,42.140164,-87.910399,1207,Chicago,42.170284,-87.921806,"42.1401636,-87.9103987","42.1702838,-87.9218058",2.159849
38636,2613,Tampa-St. Petersburg (Sarasota),FL,28.174400,-82.353800,2613,Tampa-St. Petersburg (Sarasota),28.174400,-82.353800,"28.1744,-82.3538","28.1744,-82.3538",0.000000
41536,2613,Tampa-St. Petersburg (Sarasota),FL,28.174400,-82.353800,4105,Tampa-St. Petersburg (Sarasota),28.174622,-82.354268,"28.1744,-82.3538","28.1746224,-82.3542681",0.032410
41608,3106,Chicago,IL,41.785191,-87.801727,3106,Chicago,41.785191,-87.801727,"41.7851905822754,-87.8017272949219","41.7851905822754,-87.8017272949219",0.000000
41923,3106,Chicago,IL,41.785191,-87.801727,552,Chicago,41.746808,-87.798792,"41.7851905822754,-87.8017272949219","41.7468076,-87.7987918",2.653337
41985,3106,Chicago,IL,41.785191,-87.801727,622,Chicago,41.815715,-87.832641,"41.7851905822754,-87.8017272949219","41.8157149,-87.8326409",2.643206
...,...,...,...,...,...,...,...,...,...,...,...,...
8791177,9054,Lansing,MI,42.680946,-84.431749,9055,Lansing,42.720783,-84.423380,"42.6809465,-84.4317489","42.7207834,-84.4233803",2.782602
8794121,9055,Lansing,MI,42.720783,-84.423380,9011,Lansing,42.720374,-84.459680,"42.7207834,-84.4233803","42.7203745,-84.4596801",1.847737
8794126,9055,Lansing,MI,42.720783,-84.423380,9018,Lansing,42.733415,-84.475286,"42.7207834,-84.4233803","42.7334154,-84.4752862",2.781726
8794147,9055,Lansing,MI,42.720783,-84.423380,9054,Lansing,42.680946,-84.431749,"42.7207834,-84.4233803","42.6809465,-84.4317489",2.782602
8794148,9055,Lansing,MI,42.720783,-84.423380,9055,Lansing,42.720783,-84.423380,"42.7207834,-84.4233803","42.7207834,-84.4233803",0.000000
8797120,9059,Madison,WI,43.124316,-89.312671,9059,Madison,43.124316,-89.312671,"43.1243163,-89.3126713","43.1243163,-89.3126713",0.000000
8797234,9060,Madison,WI,43.096440,-89.501254,232,Madison,43.061305,-89.485865,"43.0964395,-89.5012543","43.061305,-89.4858651",2.547312
8800092,9060,Madison,WI,43.096440,-89.501254,9060,Madison,43.096440,-89.501254,"43.0964395,-89.5012543","43.0964395,-89.5012543",0.000000
8800205,9061,Madison,WI,43.074044,-89.437001,232,Madison,43.061305,-89.485865,"43.0740439,-89.4370008","43.061305,-89.4858651",2.624789
8803064,9061,Madison,WI,43.074044,-89.437001,9061,Madison,43.074044,-89.437001,"43.0740439,-89.4370008","43.0740439,-89.4370008",0.000000
8803065,9061,Madison,WI,43.074044,-89.437001,9062,Madison,43.067998,-89.408773,"43.0740439,-89.4370008","43.0679982,-89.4087726",1.488307
8803066,9061,Madison,WI,43.074044,-89.437001,9063,Madison,43.074747,-89.394749,"43.0740439,-89.4370008","43.0747472,-89.3947488",2.138757
8805780,9062,Madison,WI,43.067998,-89.408773,3602,Madison,43.030305,-89.409366,"43.0679982,-89.4087726","43.0303051,-89.4093657",2.602144
8806035,9062,Madison,WI,43.067998,-89.408773,9061,Madison,43.074044,-89.437001,"43.0679982,-89.4087726","43.0740439,-89.4370008",1.488307
8806036,9062,Madison,WI,43.067998,-89.408773,9062,Madison,43.067998,-89.408773,"43.0679982,-89.4087726","43.0679982,-89.4087726",0.000000
8806037,9062,Madison,WI,43.067998,-89.408773,9063,Madison,43.074747,-89.394749,"43.0679982,-89.4087726","43.0747472,-89.3947488",0.848976
8809006,9063,Madison,WI,43.074747,-89.394749,9061,Madison,43.074044,-89.437001,"43.0747472,-89.3947488","43.0740439,-89.4370008",2.138757
8809007,9063,Madison,WI,43.074747,-89.394749,9062,Madison,43.067998,-89.408773,"43.0747472,-89.3947488","43.0679982,-89.4087726",0.848976
8809008,9063,Madison,WI,43.074747,-89.394749,9063,Madison,43.074747,-89.394749,"43.0747472,-89.3947488","43.0747472,-89.3947488",0.000000
8811980,9064,Detroit,MI,42.304060,-84.020257,9064,Detroit,42.304060,-84.020257,"42.3040599,-84.0202569","42.3040599,-84.0202569",0.000000
8814952,9074,Detroit,MI,42.286095,-83.839389,9074,Detroit,42.286095,-83.839389,"42.286095,-83.8393888","42.286095,-83.8393888",0.000000
8817924,9075,Madison,WI,43.047421,-89.323731,9075,Madison,43.047421,-89.323731,"43.0474214,-89.3237306","43.0474214,-89.3237306",0.000000
8820865,9076,Lansing,MI,42.760184,-84.504890,9018,Lansing,42.733415,-84.475286,"42.7601837,-84.5048902","42.7334154,-84.4752862",2.383785
8820868,9076,Lansing,MI,42.760184,-84.504890,9021,Lansing,42.734698,-84.493909,"42.7601837,-84.5048902","42.7346982,-84.4939085",1.845765
8820896,9076,Lansing,MI,42.760184,-84.504890,9076,Lansing,42.760184,-84.504890,"42.7601837,-84.5048902","42.7601837,-84.5048902",0.000000
8823188,9078,Grand Rapids-Kalamazoo-Battle Creek,MI,42.295582,-85.650471,2869,Grand Rapids-Kalamazoo-Battle Creek,42.270530,-85.645956,"42.2955817,-85.6504714","42.2705305,-85.6459558",1.744483
8823854,9078,Grand Rapids-Kalamazoo-Battle Creek,MI,42.295582,-85.650471,9051,Grand Rapids-Kalamazoo-Battle Creek,42.287806,-85.601099,"42.2955817,-85.6504714","42.2878061,-85.6010988",2.586407
8823855,9078,Grand Rapids-Kalamazoo-Battle Creek,MI,42.295582,-85.650471,9052,Grand Rapids-Kalamazoo-Battle Creek,42.281106,-85.621918,"42.2955817,-85.6504714","42.2811059,-85.621918",1.771874
8823868,9078,Grand Rapids-Kalamazoo-Battle Creek,MI,42.295582,-85.650471,9078,Grand Rapids-Kalamazoo-Battle Creek,42.295582,-85.650471,"42.2955817,-85.6504714","42.2955817,-85.6504714",0.000000
8826840,9079,Madison,WI,43.198303,-89.211911,9079,Madison,43.198303,-89.211911,"43.1983027,-89.2119107","43.1983027,-89.2119107",0.000000

In [14]:
r = r.groupby(["jjdma_name",
                ]).agg({'storenumber2':'count'})
r = r.reset_index()

In [15]:
r = r.rename(columns={"storenumber2": "cluster_stores"})

In [16]:
r['cluster_stores'] = r['cluster_stores'] -1

In [17]:
r

                                  jjdma_name  cluster_stores
0                         Abilene-Sweetwater               0
1                                 Albany, GA               0
2                    Albany-Schenectady-Troy               2
3                       Albuquerque-Santa Fe              25
4                             Alexandria, LA               0
5                                     Alpena               0
6                                   Amarillo               2
7                                    Atlanta             179
8                              Augusta-Aiken               2
9                                     Austin              54
10                                 Baltimore              45
11                               Baton Rouge              22
12                      Beaumont-Port Arthur               3
13                                  Bend, OR               5
14                           Billings-Hardin               7
15                           Biloxi-Gulfport               1
16                                Binghamton               3
17        Birmingham (Anniston & Tuscaloosa)              62
18                                     Boise              29
19                                    Boston              31
20                             Bowling Green               8
21                                   Buffalo               5
22                             Butte-Bozeman               4
23                           Casper-Riverton               0
24   Cedar Rapids-Waterloo-Iowa City-Dubuque              46
25             Champaign-Springfield-Decatur              62
26                                Charleston              16
27                     Charleston-Huntington               5
28                                 Charlotte              53
29                           Charlottesville               1
..                                       ...             ...
157                       South Bend-Elkhart              31
158                                  Spokane              22
159                          Springfield, MO              22
160                               St. Joseph               0
161                                St. Louis             152
162                                 Syracuse               6
163                  Tallahassee-Thomasville              28
164          Tampa-St. Petersburg (Sarasota)              77
165                              Terre Haute               2
166                                   Toledo              23
167                                   Topeka               9
168                   Traverse City-Cadillac               8
169                               Tri-Cities               1
170                    Tucson (Sierra Vista)              28
171                                    Tulsa              19
172                               Twin Falls               4
173   Tyler-Longview (Lufkin & Nacogdoches-)               5
174                                 Unknown1               2
175                                    Utica               1
176                        Waco-Temple-Bryan              15
177              Washington, DC (Hagerstown)             121
178                       Wausau-Rhinelander               4
179    West Palm Beach-Ft. Pierce-Vero Beach              29
180                    Wheeling-Steubenville               0
181                   Wichita Falls & Lawton               1
182                  Wichita-Hutchinson Plus              11
183                               Wilmington              13
184          Yakima-Pasco-Richland-Kennewick              10
185                               Youngstown               3
186                               Zanesville               0

[187 rows x 2 columns]

In [ ]:
r.to_excel('storestuff.xlsx', index = False)